* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #fda085;
    cursor: pointer;
    transition: all 0.5s ease;
}

form button:hover {
    color: white;
    background: #fda085;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo li {
    flex: 1; /* this will push the two buttons to end */ 
}

.delete-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: green;
}

.todo-item {
    padding: 0rem 0.5rem;
}

/* 
Cause: delete works only clicking on the outer part of i tag, if we click
i tag, nothing happening as we are remove based on button class (delete-btn).
To disable the click on the i font awesome i tags, enable the below style */
.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Animation during the deletion of todo */
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after {
    content: "\25BC";/* for adding arrow to the select box */
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.5s ease;
}

.select:hover::after {
    background: white;
    color: #ff6f47;
}